{% extends 'base.html' %}

{% block body_block %}
    <div class="row">
        <div class="col-sm-8 offset-2">
            <h4 class="text-center alert alert-info">Update Student Information</h4>
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}

                <button type="submit" class="btn btn-success">Update</button>
                <a href="{% url 'display' %}" class="btn btn-warning">Back to Home</a>

            </form>

        </div>
    </div>

{% endblock %}
